{% extends '::base.html.twig' %}

{% block content %}
    <div id="my_content" class="row">
        <div class="col-md-2 hidden-sm hidden-xs" style="margin-top:44px;position:fixed;height:100%">
            <ul class="nav nav-sidebar bg-danger my-sidebar-shadow" style="overflow-y:hidden;height:100%">
                <li class="hidden-xs hidden-sm" style="padding:0px;margin:10px 0px;float:none;">
                    <ul style="list-style:none;width:100%;margin:0 auto; padding:20px 0px 40px 0px;text-align: center;">
                        <li>
                            <img class="img-circle img-thumbnail" src="../perso.png" width="128px"/>
                        </li>
                        <li style="margin-top:10px"><a href="{{ path('profile') }}"><b> {% block username %}{% endblock %}</b></a></li>
                        <li class="label"><a href="{{ path('profile_edit') }}" class="text-info"><i class="icon icon-cog"></i>&nbsp;modifier</a></li>
                    </ul>
                </li>
                <li class="hidden-xs hidden-sm text-warning">
                    <h5 style="padding:0px 10px;">
                        <small>Annonces</small>
                    </h5>
                </li>
                <li class="active"><a href="{{ path('home') }}"><i class="icon icon-time" style="color:#FF0D42;"></i><h6
                                class="icon-right-margin hidden-xs hidden-sm"><b>Dernières postées</b></h6><span
                                class="sr-only">(current)</span></a></li>
                <li><a href="{{ path('most_commented') }}"><i class="icon icon-comment" style="color:#FF0D42;"></i><h6
                                class="icon-right-margin hidden-xs hidden-sm"><b>Plus commentées</b></h6></a></li>
                <li class="hidden-xs hidden-sm text-warning">
                    <h5 style="padding:0px 10px;">
                        <small>Mon compte</small>
                    </h5>
                </li>
                <li><a href="{{ path('profile') }}"><i class="icon icon-user" style="color:#FF0D42;"></i><h6
                                class="icon-right-margin hidden-xs hidden-sm"><b>Profil</b></h6></a></li>
                <li><a href="#"><i class="icon icon-envelope" style="color:#FF0D42;"></i><h6
                                class="icon-right-margin hidden-xs hidden-sm"><b>Messages </b></h6> <span
                                class="badge">0</span></a></li>
                <li><a href=" {{ path('notifications')}}"><i class="icon icon-bell" style="color:#FF0D42;"></i><h6
                                class="icon-right-margin hidden-xs hidden-sm"><b>Notifications</b></h6>
                            {% if notifications  %}
                             <span class="badge">{{ notifications|length }}</span>
                            {% endif   %}
                        </a></li>

            </ul>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 col-md-offset-2 col-xs-offset-0 col-sm-offset-0"
             style="margin-top:48px;">
            <!-- share area!-->
            <div class="row my-box-shadow" style="padding:0px;margin:20px 20px;float:none;">
                 {{ form_start(form, {'action': path('home'), 'method': 'POST'}) }}
                    <div class="col-md-12" style="padding:0px;margin:0px;">
                         {{ form_widget(form.content, {'attr': {'class' : 'col-md-12 col-sm-12 col-xs-12'}}) }}
                    </div>
                    <div class="col-md-12 col-xs-12 bg-danger" style="padding:5px 5px 5px 0px;">
                          {{ form_widget(form.Publier, {'attr': {'class' : 'btn btn-primary col-md-offset-10 col-md-2 col-xs-offset-9 col-xs-3 btn-sm"'}}) }}
                    </div>
                 {{ form_end(form) }}
            </div>
            <!-- end share area!-->

            <!-- posts area!-->
            <div class="row" style="padding:8px;margin:20px 10px;float:none;">
            {% block posts %}

            {% endblock %}
            </div>
            <!-- end posts area!-->


        </div>

        <!-- last registered area!-->
        <div class="col-md-2 hidden-xs hidden-sm" style="padding:0px;margin:68px 0px;">
            {% if lastUsers  %}
                <h5>Derniers inscrits</h5>
                <table>
                    {% for u in lastUsers %}
                        <tr>
                            <td>
                                <img hspace=10 vspace=10 src="{{ asset('perso-light.png') }}" width="42px" />
                            </td>
                            <td>
                                <h5><a href="{{ path('profile', {'id': u.id}) }}">{{ u.person.firstname }}&nbsp;{{ u.person.lastname }}</a></h5>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif%}
        </div>
        <!-- end last registered area!-->

    </div>
</div>
{% endblock content %}


